@font-face {
    font-family: 'Burbank Small';
    src:url("BurbankSmall-Bold.otf");
}

/* HTML Tags */

body {
    margin: 0px;
    padding: 0px;
    background-image: url(images/bg.png);
    background-size: 2000px;
}


h1 {
    font-family: 'Burbank Small';
    font-size: 2.813em;
    text-align: center;
}

p {
    font-family: 'Burbank Small';
    font-size: 25px;
    margin: 0px 200px;
    text-align: center;
}

footer {
    font-family: 'Burbank Small';
    background-color: gray;
    color: white;
    text-align: center;
    margin-left: 485px;
    margin-right: 485px;
    padding: 5px;
}

li {
    font-family: 'Burbank Small';
}

nav ul {
    margin: 0;
    padding: 10px;
    font-family: 'Burbank Small';
    font-size: 24px;
    list-style: none;
    background-color: plum;
}

nav li {
    display: inline-block;
    margin-left: 200px;
}

label {
    font-family: 'Burbank Small';
    font-size: 20px;
    margin-left: 425px;
    text-align: center;
}

input {
    margin-left: 425px;
    font-family: 'Burbank Small';
    font-size: 20px;
}

button {
    font-family: 'Burbank Small';
    font-size: 20px;
}


/* Classes */

.banner {
    padding: 125px;
    font-family: 'Burbank Small';
    text-align: center;
    background-image: url("images/banner.png");
    background-position: center;
    background-repeat: no-repeat;
}

.rectangle {
    padding: 5px;
    background-color: green;
}

.release {
    text-align: center;
}

.page_contents {
    background-color: white;
    margin-left: 75px;
    margin-right: 75px;
    padding: 10px;
    border-radius: 25px;
}

.randomizer_button {
    margin-left: 100px;
    text-align: center;
}

.randomizer_asset {
    max-width: 100%;
    max-height: 100%;
    float: right;
    width: 150px;
    margin-right: 100px;
}

.pfp {
    margin-left: 50px;
}

.profile_info {
    text-align: left;
    margin-left: 75px;
}

.undername {
    text-align: left;
    margin-left: 40px;
}

.sidenote {
    font-size: 20px;
}

/* Media Queries */

/* iPad Pro Landscape View */
@media screen and (max-width: 1366px) {
    p {
        margin: 0px 25px;
        font-size: 30px;
    }
    h1 {
        font-size: 40px;
    }
    footer {
        margin: 0px 500px;
    }
}

/* iPad Pro Portrait View*/
@media screen and (max-width: 1024px) {
    nav li {
        margin-left: 80px;
        padding: 10px;
        font-size: 35px;
    }
    h1 {
        font-size: 75px;
    }
    p {
        margin: 0px 50px;
        font-size: 50px;
    }
    footer {
        font-size: 35px;
        margin-left: 100px;
        margin-right: 100px;
        padding: 6px;
    }
    button {
        font-size: 25px;
    }
    label {
        font-size: 25px;
        margin-left: 225px;
    }
    input {
        font-size: 25px;
        margin-left: 225px;
    }
    .randomizer_asset {
        margin-right: 25px;
    }
}

/* iPad Landscape */
@media screen and (max-width: 1024px) {
    h1 {
        font-size: 45px;
    }
    p {
        font-size: 30px;
    }
}
/* iPad Portrait */
@media screen and (max-width: 768px) {
    nav li {
        margin-left: 50px;
    }
    p {
        font-size: 30px;
    }
    h1 {
        font-size: 50px;
    }
}

/* iPhone 6/7/8 Plus Landscape */
