@font-face {
    font-family: 'Burbank Small';
    src:url("BurbankSmall-Bold.otf");
}

@font-face {
    font-family: 'Burbank Regular';
    src:url("Burbank-Regular1.otf");
}

@font-face {
    font-family: 'Cafeteria';
    src:url("Cafeteria-Bold.otf");
}

/* HTML Tags */

body {
    margin: 0px;
    padding: 0px;
    background-image: url(../images/bg.png);
    background-size: 2000px;
}


h1 {
    font-family: 'Burbank Regular';
    font-size: 2.813em;
    text-align: center;
}

p {
    font-family: 'Burbank Small';
    font-size: 25px;
    margin: 0px 200px;
    text-align: center;
}

footer {
    font-family: 'Burbank Small';
    background-color: gray;
    color: white;
    text-align: center;
    margin-left: 485px;
    margin-right: 485px;
    padding: 5px;
    font-size: 15px;
}

li {
    font-family: 'Burbank Regular';
}

nav ul {
    margin: 0;
    padding: 10px;
    font-family: 'Burbank Small';
    font-size: 24px;
    list-style: none;
    background-color: plum;
    text-decoration: none;
}

nav li {
    display: inline-block;
    margin-left: 200px;
    text-decoration: none;
}

label {
    font-family: 'Burbank Small';
    font-size: 20px;
    margin-left: 425px;
    text-align: center;
}

input {
    margin-left: 425px;
    font-family: 'Burbank Small';
    font-size: 20px;
    height: 26px;
}

button {
    font-family: 'Burbank Small';
    font-size: 20px;
}

select {
    font-family: 'Burbank Small';
    font-size: 20px;
}


/* Classes */

.banner {
    padding: 125px;
    font-family: 'Burbank Small';
    text-align: center;
    background-image: url("../images/banner.png");
    background-position: center;
    background-repeat: no-repeat;
}

.rectangle {
    padding: 5px;
    background-color: green;
}

.release {
    text-align: center;
}

.page_contents {
    background-color: white;
    margin-left: 75px;
    margin-right: 75px;
    padding: 10px;
    border-radius: 25px;
}

.randomizer_button {
    margin-left: 100px;
    text-align: center;
}

.randomizer_asset {
    max-width: 100%;
    max-height: 100%;
    float: right;
    width: 150px;
    margin-right: 100px;
}

.pfp {
    margin-left: 50px;
}

.profile_info {
    text-align: left;
    margin-left: 75px;
}

.undername {
    text-align: left;
    margin-left: 40px;
}

.sidenote {
    font-size: 20px;
}

.calc_image {
    width: 35px;
    margin-left: 425px;
}

.calc_label {
    font-size: 25px;
    margin-left: 5px;
    position: relative;
    bottom: 7px;
}

button.gw1 {
    font-family: 'Cafeteria';
    text-align: left;
    font-size: 25px;
    width: 200px;
    margin-top: 5px;
    margin-left: 100px;
    background-color: #37495d;
    border-radius: 5px;
    border: solid 2px black;
    color: #ebebd7;
}

button.gw1:hover {
    background-color: #fee972;
    color: #873a1f;
    border-color: #84361b;
}

button.gw1:focus {
    outline: none;
}

button.gw2 {
    font-family: 'Cafeteria';
    text-align: left;
    color: #a3ccd9;
    width: 200px;
    font-size: 25px;
    background-color: #36425a;
    border: solid 2px #466b8e;
    margin-top: 5px;
    margin-left: 100px;
    transform: skew(-10deg);
}

button.gw2 span {
    display: block;
    transform: skew(10deg);
}

button.gw2:hover {
    color: #3b3344;
    background-color: #aae9fe;
    border: solid 2px #6b5982;
}

button.gw2:focus {
    outline: none;
}

.bfn_button {
    background-color: #103c63;
    color: #dde7e9;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 7px;
    margin-left: 100px;
    text-decoration: none;
    border: 3px solid #2d5b8d;
    font-family: 'Burbank Small';
    font-size: 16px;
    text-align: left;
    width: 200px;
    outline: 2px solid black;
}

.bfn_button:hover {
    border-color: #f1cd5f;
}

.bfn_button:focus {
    outline: 2px solid black;
}

.bfn_calc_button {
    background-color: #103c63;
    color: #dde7e9;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 7px;
    margin-left: 3px;
    text-decoration: none;
    border: 3px solid #2d5b8d;
    font-family: 'Burbank Small';
    font-size: 16px;
    text-align: left;
    width: 200px;
    outline: 2px solid black;
}

.bfn_calc_button:hover {
    border-color: #f1cd5f;
}

.bfn_calc_button:focus {
    outline: 2px solid black;
}

/* Media Queries */

/* iPad Pro Landscape View */
@media screen and (max-width: 1366px) {
    p {
        margin: 0px 25px;
        font-size: 30px;
    }
    h1 {
        font-size: 40px;
    }
    footer {
        margin: 0px 500px;
    }
}

/* iPad Pro Portrait View*/
@media screen and (max-width: 1024px) {
    nav li {
        margin-left: 80px;
        padding: 10px;
        font-size: 35px;
    }
    h1 {
        font-size: 75px;
    }
    p {
        margin: 0px 50px;
        font-size: 50px;
    }
    footer {
        font-size: 35px;
        margin-left: 100px;
        margin-right: 100px;
        padding: 6px;
    }
    button {
        font-size: 25px;
    }
    label {
        font-size: 25px;
        margin-left: 225px;
    }
    input {
        font-size: 25px;
        margin-left: 225px;
    }
    .randomizer_asset {
        margin-right: 25px;
    }
}

/* iPad Landscape */
@media screen and (max-width: 1024px) {
    h1 {
        font-size: 45px;
    }
    p {
        font-size: 30px;
    }
}
/* iPad Portrait */
@media screen and (max-width: 768px) {
    nav li {
        margin-left: 50px;
    }
    p {
        font-size: 30px;
    }
    h1 {
        font-size: 50px;
    }
}

/* iPhone 6/7/8 Plus Landscape */
